<%- include('../layout/header'); -%>
<%- include('../layout/sidenav'); -%>
<div>
    <div class="container">
        <blockquote>
            <h1 class="header">Accueil<br></h1>
        </blockquote>
        <h3 class="header">Bienvenue sur le site de la Slow Run Cup !<br></h3>
        <p>
            Bientôt vous pourrez vous inscrire pour la prochaine Slow Run Cup !
            Le site est en cours de développement et n'est pas fait par un pro donc soyez indulgents ! 
        </p>
        <p>
            La prochaine Slow Run Cup est prévue pour le 12 mai 2021. Elle devrait commençait aux alentours de 21h !
            Soyez présents sur le live <a href="http://www.twitch.tv/hurri_live" target="_blank">Twitch</a>
        </p>
    </div>
</div>
<%- include('../layout/footer'); -%>