<%- include('../layout/header'); -%>
<%- include('../layout/sidenav'); -%>
<div>
    <div class="container">
        <blockquote>
            <h1 class="header">Contact<br></h1>
        </blockquote>
        <p>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
            Paragraphe de remplissage pour la verification du footer, ça me fait chier mais j'espère au moins que c'est ça.<br>
        </p>
    </div>
</div>
<%- include('../layout/footer'); -%>