<%- include('../layout/header'); -%>
<%- include('../layout/sidenav'); -%>
<div>
    <div class="container">
        <blockquote>
            <h1 class="header">Contact<br></h1>
        </blockquote>
        <p>
            Rejoignez nous sur le club trackmania : SlowRunCup !
        </p>
        <p>
            Rejoignez nous également sur Discord pour valider votre participation ou bien nous poser des questions sur la cup ! 
        </p>
    </div>
</div>
<%- include('../layout/footer'); -%>