<%- include('../layout/header'); -%>
<%- include('../layout/sidenav'); -%>
<div>
    <div class="container">
        <blockquote>
            <h1 class="header">Règles<br></h1>
        </blockquote>
    </div>
</div>

<%- include('../layout/footer'); -%>