<%- include('../layout/header'); -%>
<%- include('../layout/sidenav'); -%>
<div>
    <div class="container">
        <blockquote>
            <h1 class="header">Résultats<br></h1>
        </blockquote>
        <p>
            C'est ici que seront diffusés les résultats des futures Slow Run Cup. Inscris-toi à la prochaine édition pour peut-être avoir la chance d'apparaître sur cette page !
        </p>
        <p>
            La première édition de la Slow Run Cup s'est déroulée en privé, uniquement entre potes mais voici tout de même les résultas
        </p>

        <ul class="collapsible">
            <li class="grey lighten-2 active">
              <div class="collapsible-header">Slow Run Cup #1</div>
              <div class="collapsible-body">
                <table class="centered">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Pseudo</th>
                            <th>Pays</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color: #d4af37;">
                            <td><h3>1er</h3></td>
                            <td><h3>ShowTime</h3></td>
                            <td><h3><img src="/img/france.png"></h3></td>
                        </tr>
                        <tr style="background-color: #c0c0c0;">
                            <td><h4>2ème</h4></td>
                            <td><h4>SenseiHawks</h4></td>
                            <td><h4><img src="/img/france.png" style="width: 25%;"></h4></td>
                        </tr>
                        <tr style="background-color: #a07155">
                            <td><h5>3ème</h5></td>
                            <td><h5>Hurri</h5></td>
                            <td><h5><img src="/img/france.png" style="width: 20%;"></h5></td>
                        </tr>
                        <tr style="background-color: white;"> 
                            <td>4ème</td>
                            <td>Aoshy</td>
                            <td><img src="/img/france.png" style="width: 15%;"></td>
                        </tr>
                        <tr style="background-color: white;">
                            <td>5ème</td>
                            <td>Freaky</td>
                            <td><img src="/img/france.png" style="width: 15%;"></td>
                        </tr>
                    </tbody>
                    <tr style="background-color: white;">
                        <td></td>
                        <td>
                            <span class="center"><a class="waves-effect waves-light btn blue disabled" href="Accueil">Voir le classement entier</a></span>
                        </td>
                        <td></td>
                    </tr>
                </table>
              </div>
            </li>
            <li class="grey lighten-2">
              <div class="collapsible-header">Slow Run Cup #2</div>
              <div class="collapsible-body" style="border-bottom: 1px solid grey;"><span>À venir</span></div>
            </li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<%- include('../layout/footer'); -%>