        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/perso/init.js"></script>
        <script type="text/javascript" src="/js/bin/materialize.min.js"></script>
		<div class="sidenav-overlay" style="display: none; opacity: 0;"></div>
		<div class="drag-target"></div>
	</body>
</html>