    <ul id="slide-out" class="sidenav sidenav-fixed hide-on-med-and-down grey lighten-2">
        <a href="Accueil">
            <li><img class="responsive-img" src="/img/SlowRunCup.png"></li>
        </a>
        <li><a href="Accueil">Accueil</a></li>
        <li><a href="Inscription">Inscription</a></li>
        <li><a href="Resultats">Résultats</a></li>
        <li><a href="Regles">Règles</a></li>
        <li><a href="Contact">Contact</a></li>
        <div class="bottom">
            <a href="" target="_blank"><img class="responsive-img left" src="/img/discord.png" style="width: 15%; margin-right: 88px;"></a>
            <a href="https://www.twitch.tv/hurri_live" target="_blank"><img class="responsive-img" src="/img/twitch.png" style="width: 15%;"></a>
            <a href="https://twitter.com/Hurri_Live" target="_blank"><img class="responsive-img right" src="/img/twitter.png" style="width: 15%"></a>
        </div>
    </ul>
    <nav class="hide-on-large-only">
        <div class="nav-wrapper grey">
          <ul id="nav-mobile">
            <li><a href="Accueil" class="black-text nav-text-adapt">Accueil</a></li>
            <li><a href="Inscription" class="black-text nav-text-adapt">Inscription</a></li>
            <li><a href="Resultats" class="black-text nav-text-adapt">Résultats</a></li>
            <li><a href="Regles" class="black-text nav-text-adapt">Règles</a></li>
            <li><a href="Contact" class="black-text nav-text-adapt">Contact</a></li>
          </ul>
        </div>
      </nav>
</div>